<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <alert></alert>
    <h2>{{ pageTitle }}</h2>
    <form
      *ngIf="featureFormGroup"
      [formGroup]="featureFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" formControlName="displayName" class="form-control" />
      </div>
      <div class="form-group">
        <label for="technicalName">Technical Name</label>
        <input
          type="text"
          formControlName="technicalName"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" class="form-control" />
      </div>
      <div>
        <label>Value</label>
      </div>
      <div class="form-group">
        <label for="value" style="margin-right: 10px;">
          <input
            style="margin: 5px;"
            type="radio"
            name="value"
            formControlName="value"
            [value]="true"
          />On
        </label>
        <label for="value" style="margin-right: 10px;">
          <input
            style="margin: 5px;"
            type="radio"
            name="value"
            formControlName="value"
            [value]="false"
          />Off
        </label>
      </div>
      <div class="form-group">
        <label>Expiry Date</label>
        <ejs-datepicker
          formControlName="expiresOn"
          name="expiresOn"
          floatLabelType="Auto"
        >
        </ejs-datepicker>
        <div class="text-danger" *ngIf="error.isError">
          {{ error.errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!featureFormGroup.valid" class="btn btn-primary">
          Save
        </button>
        <a routerLink="/" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
