<div>
  <table
    class="table table-striped table-bordered"
    *ngIf="features && features.length"
    style="margin-top: 10px;"
  >
    <thead class="bg-dark text-white">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Display Name</th>
        <th scope="col">Technical Name</th>
        <th scope="col">Description</th>
        <th scope="col">Value</th>
        <th scope="col">Expires On</th>
        <th *ngIf="canEdit">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of features; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ feature.displayName }}</td>
        <td>{{ feature.technicalName }}</td>
        <td>{{ feature.description }}</td>
        <td>{{ feature.value }}</td>
        <td>{{ feature.expiresOn | date: "MM-dd-yyyy" }}</td>
        <td *ngIf="canEdit">
          <button
            class="btn btn-primary"
            (click)="editFeature(feature.id)"
            style="margin: 5px;"
            *ngIf="canEdit"
          >
            Edit
          </button>
          <button
            class="btn btn-primary"
            (click)="deleteFeature(feature.id)"
            *ngIf="canEdit"
            style="margin: 5px;"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="canEdit" style="margin-top: 5px;">
    <button class="btn btn-primary" (click)="addFeature()">Add Feature</button>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <alert></alert>
    </div>
  </div>
</div>
